
# Hugo default output directory
/example/public
# Hugo generated resources directory
/example/resources

node_modules/*

# Tracks generated folders between generate and cleanup
.hugo-data-to-pages.json
